@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Mochiy+Pop+One&family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@300&family=Permanent+Marker&family=Roboto+Slab:wght@300;400;500;600;900&family=Source+Code+Pro:wght@400;500;600;700&display=swap');
$navbar-navy: #1A0044;
$white-main: #fff;
$black-main: #000;
$input-color: #8E8C8C;
$grey-main: #FCFCFC;
$landing-bg: linear-gradient(180.61deg, rgba(3, 0, 100, 0.92) 1.39%,
    rgba(22, 20, 130, 0.85) 19.51%, rgba(37, 35, 170, 0.64) 47.09%,
    rgba(19, 14, 240, 0.26) 75.88%, rgba(73, 70, 234, 0.04) 106.53%);
$landing-button-bg: linear-gradient(94.29deg, rgba(66, 236, 165, 0.81) -14.54%,
    rgba(211, 245, 73, 0.85) 95.15%);
$montserrat: 'Montserrat', sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;


%landing-button-border {
  border: 1px solid;
  border-image-source: linear-gradient(95.52deg, rgba(251, 255, 61, 0.4) 13.83%, rgba(60, 111, 112, 0) 104.31%);
}

%display-flex {
  display: flex;
}

%display-flex-col {
  display: flex;
  flex-direction: column;
}

%display-flex-center {
  align-items: center;
  justify-content: center;
}

%header {
  border-bottom: 1px solid $black-main;
  padding-bottom: 20px;
  width: 325px;
  position: relative;
}

%header-after {
  content: '';
  border-bottom: 5px solid $black-main;
  width: 85px;
  bottom: -3px;
  position: absolute;
}

%skill-bar {
  width: 646px;
  background: linear-gradient(90deg, #282828 28.48%, #1B1A36 50.68%, #2A2864 77.31%, rgba(196, 195, 202, 0.29) 105.96%), linear-gradient(90deg, #000000 45.61%, #130EF0 96.13%);
  border-radius: 30px;
  list-style: none;
  color: $white-main;
  font-size: 3rem;
  font-weight: $font-weight-500;
  line-height: 22px;
  padding: 25px 40px;
  margin: 35px 0;
}