.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form button {
  width: 100%;
  border: 1px solid #5c5c5cf1;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 5px;
}

.form label {
  font-size: 25px;
  margin-top: 5px;
}

.form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form div input {
  border: 1px solid #5c5c5cf1;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  font-size: 20px;
}

.form div textarea {
  border: 1px solid #5c5c5cf1;
  width: 100%;
  resize: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px;
}

.disabledButton {
  background-color: #5c5c5cad;
  color: #fff;
  border: none;
}

.activeButton {
  background-color: rgb(86, 136, 86);
  border: none;
}