.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form button {
  width: 50%;
  border: 1px solid #5c5c5cf1;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
}

.form label {
  font-size: 25px;
  margin-top: 5px;
}

.form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form div input {
  width: 100%;
  border-radius: 15px;
  padding: 13px 13px;
  font-size: 20px;
}

.form div textarea:focus,
.form div input:focus {
  outline: none;
}

.form div textarea {
  width: 100%;
  resize: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px;
}

.disabledButton {
  background-color: #5c5c5cf1;
  color: #fff;
  border: none;
}

.activeButton {
  background-color: #2cdf58f1;
  color: #fff;
  border: none;
}