@import "variables";

.contactForm {
  background-color: $grey-main;
  padding: 50px;

  section {
    width: 70%;
    margin: 0 auto;

    hgroup {
      @extend %header;

      &::after {
        @extend %header-after;
      }

      h2 {
        font-size: 4rem;
        font-weight: $font-weight-400;

        span {
          font-weight: $font-weight-700;

          p {
            font-size: 4rem;
          }
        }

        &>* {
          display: inline-block;
        }
      }

    }

    div {
      div {
        @extend %display-flex;
        justify-content: space-evenly;
        gap: 5px;

        article {
          width: 100%;
        }
      }
    }
  }
}