@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Serif', serif;
}

body > *:nth-child(1) {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 100%;
  height: 90vh;
}

.active {
  background-color: #fff;
  color: rgb(86, 136, 86);
  border-radius: 60px;
  padding: 5px 20px;
}

.passive {
  transition: 0.5s ease-out;
}

.passive:hover {
  background-color: #fff;
  color: rgb(86, 136, 86);
  border-radius: 60px;
  padding: 5px 20px;
}
