.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: rgb(39, 39, 39);
  background: url("../public/output-onlinepngtools.png") center center no-repeat;
  background-color: rgb(240, 240, 240);
  background-size: cover;
  line-height: 100px;
}

.main > *:nth-child(2) {
  line-height: 40px;
}

.main a {
  background-color: #2cdf58f1;
  padding: 15px;
  border-radius: 15px;
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  transition: 0.5s;
}

.main a:hover {
  background-color: #22b948f1;
}

.main > *:nth-child(2) > *:nth-child(2) {
  margin: 0 0 100px 0;
}

.main section h1 {
  font-size: 60px;
}

.main section h2 {
  font-size: 35px;
}

.main section h3 {
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main section h4 {
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main section h5 {
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
