.card {
  border: 1px solid #5c5c5cf1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #5c5c5cf1;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
  height: 100%;
}

.card h3 {
  font-size: 23px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card > *:nth-child(1) {
  height: 70%;
}

.card > *:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40%;
  margin-top: 1.5rem;
}

.card a {
  background-color: #2cdf58f1;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  transition: 0.5s;
}

.card a:hover {
  background-color: #22b948f1;
}
