.card {
  border: 1px solid #5c5c5cf1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5c5c5cf1;
  color: #fff;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
  height: 100%;
}

.card h3 {
  font-size: 20px;
}
