.topic {
  margin: 15px 0;
}

.topic span {
  background-color: #838383f1;
  padding: 2px 12px 6px 12px;
  border-radius: 12px;
  color: rgb(238, 238, 238);
  margin: 5px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.topic > *:nth-child(6) {
  display: none;
}
